<?xml version="1.0" encoding="UTF-8" ?>
<Settings>
  <General>
    <Username>nndnhan@gmail.com</Username>
    <Password>123456789</Password>
    <MailServer>127.0.0.1</MailServer>
    <SMTP>2225</SMTP>
    <POP3>3335</POP3>
    <Autoload>10</Autoload>
  </General>
  <Configuration>
    <PathDefault>D:\\mailbox</PathDefault>
    <AutoSave>true</AutoSave>
  </Configuration>
</Settings>