<?xml version="1.0" encoding="UTF-8" ?>
<Settings>
  <General>
    <Username>nndnhan@gmail.com</Username>
    <Password>123456789</Password>
    <MailServer>127.0.0.1</MailServer>
    <SMTP>2225</SMTP>
    <POP3>3335</POP3>
    <Autoload>10</Autoload>
    <PathDefault>C:\\Mailbox</PathDefault>
  </General>
  <Filter>
    <!--Move emails sent from ahihi@testing.com and ahuu@testing.com addresses to the Project folder -->
    <Project>ahihi@testing.com, ahuu@testing.com</Project>
    <!-- Move emails with subject containing "urgent", "ASAP" to the  Important folder -->
    <Important>urgent, ASAP</Important>
    <!-- Move emails containing "report", "meeting" to the Work folder -->
    <Work> report, meeting</Work>
    <!-- Move emails whose subject or content contains "virus", "hack" "crack" to the Spam folder -->
    <Spam> virus, hack, crack</Spam>
  </Filter>
</Settings>